{% load static %}
<link rel="stylesheet" href="{% static 'css/animals.css' %}">
<!DOCTYPE html>
<html>
    <head>
        <title>
            Marine Mammal Rehabilitation
        </title>
    </head>
    <body>
        <header>
            <div>
                <div class="header">
                    <a href="{% url 'mainpage' %}" class="logo">Marine Mammal Conservation</a>
                    <div class="header-right">
                      <a class="active" href="#home">Report an Animal</a>
                      <a href="#contact">Contact</a>
                      <a href="#about">About</a>
                      <a href="#visit">Visit</a>
                      <a href="#signin">Sign In</a>
                    </div>
                  </div>
        </header>
        <main>
            {% block content %}{% endblock content %}
        </main>
        <div class="flex-wrapper">
        <footer class = "footer-container">
            <div class = "footer">
                <div class = "footer-heading email-form">
                    <h2>
                        Sign up for a tour
                    </h2>
                    <input type = "email" placeholder = "Enter your email address" id = "footer-email">
                    <input type = "submit" value = "Sign Up" id = "footer-email-btn">
                </div>
                <div class = "footer-heading footer-1">
                    <h2>
                        Faqs
                    </h2>
                        <a href = " ">Species</a>
                        <a href = " ">Science</a>
                </div>
                <div class = "footer-heading footer-2">
                    <h2>
                        Social Media
                    </h2>
                        <a href = " ">Instagram</a>
                        <a href = " ">Youtube</a>
                </div>
                <div class = "footer-heading footer-3">
                    <h2>
                        Contact Us
                    </h2>
                        <a href = " ">Volunteer</a>
                        <a href = " ">Others ways to help</a>
                        <p>Call 1-800-SEAL</p>
                </div>
            </div>
        </footer>
        </div>

    </body>
</html>
