{% extends 'base.html' %}


            {% block content %}
            <nav>
                <a href= "{% url 'health_list' %}">Health List</a>
                <a href= "{% url 'create_animal_exam' %}">Create Exam</a>

            </nav>
            <h1>Patient's Medical Details</h1>
            <h2 class="color">
                Tag Number:{{single_animal.id}}
            </h2>
            <img class="image_size" src="{{ single_animal.medicalpicture }}">
            <h2></h2>

                <table>
                    <tr>
                        <th>Specie</th>
                        <th>Size</th>
                        <th>Weight</th>
                        <th>Age</th>
                        <th>Sex</th>
                        <th>Bloodwork Required</th>
                        <th>Pen</th>
                        <th>Medical Notes</th>
                        <th>Medical Staff</th>

                    </tr>
                    <tbody>
                        {% for exam in my_animals.exams.all %}
                        <tr>
                            {% comment %} <td>{{single_animal.exam_date|date:"d, M, Y"}}</td> {% endcomment %}
                            <td>{{exam.specie}}</td>
                            <td>{{exam.size}}</td>
                            <td>{{exam.weight}}</td>
                            <td>{{exam.age}}</td>
                            <td>{{exam.sex}}</td>
                            <td>{{exam.bloodworkrequired|yesno:"Yes,No"}}</td>
                            <td>{{exam.pen}}</td>
                            <td>{{exam.notes}}</td>
                            <td>{{exam.medicalreporter}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            <h1>Health Status</h1>
            <ol>
                <li>put checkmarks here for if this post has been seen, if responders are on the way</li>

            </ol>

        {% endblock content %}
