{% extends 'base.html' %}
{% block content %}
            <h1>Animal Safety Report</h1>

            <div class="row" id="grid">
                {% for condition in health_condition %}
                <table id="list_loop">
                    <tr>
                        <th>Tag Number</th>
                        <th>Critical</th>
                        <th>Alone</th>
                        <th>Malnurished</th>
                        <th>Wellness Check</th>
                        <th>Location</th>
                        {% comment %} <th>Reported On</th> {% endcomment %}
                        <th>Notes</th>
                        <th>Picutre</th>
                        <th>Animal</th>
                        <th>Reporter Name</th>
                    </tr>
                    <tbody>
                        <tr>
                            <td><a href= "{% url 'show_animal' condition.id %}">{{condition.id}}</a></td>
                            <td>{{condition.critical|yesno:"Yes,No"}}</td>
                            <td>{{condition.alone|yesno:"Yes,No"}}</td>
                            <td>{{condition.malnurished|yesno:"Yes,No"}}</td>
                            <td>{{condition.wellnesscheck|yesno:"Yes,No"}}</td>
                            <td>{{condition.location}}</td>
                            {% comment %} <td>{{condition.reported_on|date:"d, M, Y"}}</td> {% endcomment %}
                            <td>{{condition.notes}}</td>
                            <td><img class="image_list" src="{{ condition.picture }}"></td>
                            <td>{{condition.animal}}</td>
                            <td>{{condition.reporter}}</td>

                        </tr>

                    </tbody>
                </table>
                {% endfor %}
            </div>

            <h1>Health Status</h1>
            <ol>
                <li>put checkmarks here for if this post has been seen, if responders are on the way</li>

            </ol>
            {% endblock content %}
